/* All common stylesheet codes should come here */

@import "global";
.goToTop {
    position: fixed;
    right: -30%;
    bottom: 15%;
    z-index: 999;
    background: $color-yellow;
    color: $color-base;
    padding: 8px 13px;
    display: block;
    font-size: 1.75rem;
    font-weight: 700;
    @include border-radius(100%);
    box-shadow: 0px 0px 15px -1px #1f1f1f;
    cursor: pointer;
    @include transition(all 0.45s);
    &.active {
        right: 15px;
    }
}

header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: transparent;
    z-index: 9999;
    @include transition(all 0.3s);
    &.active {
        background-color: rgba($color-base, 0.8);
        box-shadow: 0px 0px 15px -1px #1f1f1f;
    }
    .navbar-main {
        margin: 0px;
        border: 0px;
        .navbar-header {
            @include sm-down {
                background: $color-base;
            }
            @include md-only {
                display: none;
            }
            .navbar-toggle {
                margin-bottom: 5px;
                i {
                    color: #ffffff;
                    font-size: 2rem;
                }
            }
            .navbar-brand {
                padding: 5px 15px;
                height: 60px;
                a {
                    display: block;
                    img {
                        height: 50px;
                    }
                }
            }
        }
        .navbar-collapse {
            padding: 0px;
            .navbar-nav {
                width: 100%;
                text-align: center;
                @include sm-down {
                    margin: 0px;
                    text-align: left;
                }
                li {
                    @include sm-up {
                        float: none;
                        display: inline-block;
                        width: 19%;
                    }
                    &.active {
                        a {
                            color: $color-yellow;
                        }
                    }
                    a {
                        text-transform: uppercase;
                        color: $color-white;
                        @include sm-up {
                            padding-top: 10px;
                            padding-bottom: 10px;
                        }
                        @include sm-down {
                            background: $color-base;
                        }
                        &.exceptional {
                            text-transform: none;
                        }
                        &:hover,
                        &:focus {
                            background: transparent;
                            color: $color-yellow;
                        }
                        &.logo {
                            img {
                                width: 70px;
                            }
                        }
                    }
                }
            }
        }
    }
}

main {
    .color-highlight {
        color: $color-yellow;
    }
    .section-after {
        overflow: hidden;
        padding-bottom: 100px !important;
        &:after {
            content: '';
            height: 100px;
            width: 100px;
            position: absolute;
            bottom: -50px;
            left: 50%;
            @include border-radius(100%);
            @include transform(translateX(-50%));
        }
        &#about-us:after {
            background: #C1C1C1;
            box-shadow: 0px -4px 8px 1px darken(#1F1F1E, 3%);
        }
        &#services:after {
            background: $color-base;
            box-shadow: 0px -4px 8px 1px darken(#9e9292, 3%);
        }
    }
    .section-title {
        text-transform: uppercase;
        font-size: 1.4rem;
        font-family: $montserrat;
        font-weight: 700;
        letter-spacing: 1px;
        margin-top: 30px;
        margin-bottom: 30px;
        span {
            color: $color-yellow;
        }
    }
    .profile {
        position: relative;
        img {
            width: 100px;
            height: 100px;
            @include border-radius(100%);
        }
        .profile-title {
            text-transform: uppercase;
            font-size: 1.4rem;
            font-family: $montserrat;
            font-weight: 700;
            letter-spacing: 1px;
            span {
                color: $color-yellow;
            }
        }
        &.main {
            top: -65px;
            .profile-title {
                margin-bottom: 0px;
            }
            .profile-link {
                img {
                    width: 100px;
                    height: auto;
                    border: 0px;
                    border-radius: 0px;
                    padding: 0px;
                    margin-top: 1rem;
                }
            }
            img {
                width: 120px;
                height: 120px;
                padding: 2px;
                border: 2px solid $color-yellow;
            }
        }
    }
    #hero-section {
        background-image: url(../img/1.jpg);
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center center;
        color: $color-white;
        @include sm-down {
            .container:nth-child(2) {
                width: 95%;
                margin: 0 auto;
            }
        }
        .layer {
            width: 100%;
            height: 100%;
            background: rgba($color-base, 0.8);
            padding-bottom: 50px;
        }
        .profile-brief {
            margin-bottom: 30px;
            p {
                font-family: $raleway;
                font-weight: normal;
                margin-bottom: 0px;
            }
            h3 {
                margin-top: 0px;
                font-family: $raleway;
                font-size: 1.1rem;
                font-weight: normal;
            }
            ul {
                li {
                    text-transform: uppercase;
                    font-family: $raleway;
                    font-weight: 900;
                    letter-spacing: 1px;
                    span {
                        display: inline-block;
                        padding: 0px 3px;
                        margin-right: 2px;
                    }
                    &:nth-child(1) {
                        span {
                            background-color: darken($color-yellow, 15%);
                        }
                    }
                    &:nth-child(2) {
                        span {
                            background-color: $color-orange;
                        }
                    }
                    &:nth-child(3) {
                        span {
                            background-color: $color-pink;
                        }
                    }
                    &:after {
                        content: '|';
                        margin-left: 5px;
                        margin-right: 5px;
                    }
                    &:last-child:after {
                        content: '';
                    }
                }
            }
        }
        .profile-desc {
            width: 60%;
            margin: 0 auto;
            @include sm-down {
                width: 80%;
            }
            p {
                font-size: 1rem;
                line-height: 1.5em;
            }
        }
    }
    #body-section {
        background-image: url(../img/2.jpg);
        background-repeat: no-repeat;
        background-size: cover;
        background-position: top center;
        color: $color-white;
        #about-us {
            @include sm-down {
                width: 95%;
                margin: 0 auto;
            }
            .layer {
                position: absolute;
                width: 100%;
                height: 100%;
                top: 0;
                left: 0;
                background: rgba($color-base, 0.8);
            }
            position: relative;
            background-image: url(../img/2_2.jpg);
            background-repeat: no-repeat;
            background-size: cover;
            background-position: center center;
            .about-section {
                padding-left: 70px;
                padding-right: 50px;
                padding-top: 70px;
                @include sm-down {
                    padding: 40px 30px 30px;
                }
                .section-title {
                    margin-bottom: 50px;
                    @include md-down {
                        text-align: center;
                    }
                }
                p {
                    font-size: 1.2rem;
                    line-height: 1.25em;
                    @include md-down {
                        text-align: left;
                    }
                }
            }
            .ourTeam-section {
                padding-left: 50px;
                padding-right: 70px;
                padding-top: 70px;
                @include sm-down {
                    padding: 40px 30px 30px;
                }
                .section-title {
                    @include md-down {
                        text-align: center;
                    }
                }
                .list-members {
                    li {
                        margin-bottom: 20px;
                        @include md-only {
                            width: 50%;
                            float: left;
                            display: inline-block;
                        }
                        .profile {
                            display: table-row;
                            img {
                                display: table-cell;
                            }
                            .profile-title {
                                display: table-cell;
                                vertical-align: middle;
                                padding-left: 20px;
                                font-size: 1rem;
                                font-weight: normal;
                            }
                        }
                    }
                }
            }
        }
        #services {
            position: relative;
            background-image: url(../img/3.jpg);
            background-repeat: no-repeat;
            background-size: cover;
            background-position: center center;
            padding: 70px 30px 30px;
            color: #515151;
            @include sm-down {
                width: 95%;
                margin: 0 auto;
                padding: 40px 30px 30px;
            }
            &:before {
                content: '';
                position: absolute;
                left: 0;
                top: 0;
                background: rgba(193, 193, 193, 0.45);
                height: 100%;
                width: 100%;
            }
            .section-title {
                text-align: center;
                position: relative;
            }
            .section-desc {
                text-align: center;
                width: 70%;
                margin: 0 auto 30px;
                font-size: 1.15rem;
                position: relative;
                @include md-only {
                    width: 80%;
                }
                @include sm-down {
                    width: 90%;
                }
            }
            .section-accordion {
                width: 70%;
                margin: 0 auto;
                padding: 0px 20px;
                position: relative;
                @include md-only {
                    width: 80%;
                }
                @include sm-down {
                    width: 100%;
                    padding: 0px;
                }
                .panel {
                    background: transparent;
                    border: 0px;
                    box-shadow: none;
                    margin-bottom: 15px;
                    .panel-heading {
                        background: transparent;
                        border: 0px;
                        padding: 0px;
                        h4 {
                            a {
                                display: block;
                                padding: 10px 15px;
                                text-decoration: none;
                                color: darken(#8a7b7b, 20%);
                                &:after {
                                    @extend .font-awesome;
                                    font-size: 1rem;
                                    margin-left: 1em;
                                }
                                &[aria-expanded="true"]:after {
                                    content: '\f056';
                                }
                                &.collapsed {
                                    color: darken(#8a7b7b, 3%);
                                }
                            }
                        }
                    }
                    .panel-body {
                        border: 0px;
                        color: darken(#8a7b7b, 20%);
                        p {
                            font-size: 1rem;
                            line-height: 1.5em;
                        }
                    }
                }
            }
        }
    }
}

footer#contact-us {
    position: relative;
    display: block;
    background: $color-base;
    padding-top: 60px;
    padding-bottom: 120px;
    @include md-down {
        padding-bottom: 60px;
    }
    .section-title {
        text-transform: uppercase;
        font-size: 1.4rem;
        font-family: $montserrat;
        font-weight: 700;
        letter-spacing: 1px;
        margin-top: 0px;
        line-height: 1.5em;
        color: darken($color-white, 10%);
        span {
            color: $color-yellow;
            display: block;
        }
    }
    .contact-us-section {
        padding-top: 70px;
        .form-section {
            padding-left: 70px;
            padding-right: 50px;
            @include md-down {
                padding-left: 30px;
                padding-right: 30px;
            }
            input.form-control {
                background: rgba(3, 11, 19, 0.5);
                border: 0px;
                box-shadow: none;
                margin-bottom: 10px;
                padding: 10px 12px;
                height: auto;
                color: #ffffff;
            }
            .btn-submit {
                padding: 6px 24px;
                font-size: 0.85rem;
                margin-top: 10px;
            }
        }
        .details-section {
            padding-left: 50px;
            padding-right: 70px;
            @include md-down {
                padding-left: 30px;
                padding-right: 30px;
            }
            @include sm-down {
                margin-top: 40px;
            }
            h3 {
                color: $color-white;
                font-family: $roboto;
                text-transform: uppercase;
                margin: 0px;
                font-size: 1rem;
                margin-bottom: 15px;
                &.mobile {
                    @include md-only {
                        float: left;
                        display: inline-block;
                        margin-right: 15px;
                    }
                }
                a {
                    color: $color-white;
                    text-decoration: none;
                    text-transform: lowercase;
                }
            }
        }
    }
    .siteBy {
        position: absolute;
        right: 15px;
        bottom: 0;
        font-size: 1rem;
        color: #6f6f6f;
        z-index: 99999999;
    }
}
